.quantity-box {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
}

.quantity-box button {
  background: rgba(255,255,255,0.25);
  border: 1px solid rgba(255,255,255,0.35);
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 16px;
  backdrop-filter: blur(10px);
}

.quantity-box span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
