.footer {
  margin-top: 0px;
  padding: 40px 30px 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  color: #1a4d2e;
  font-weight: 500;
}

/* GRID */
.footer-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

/* LIST */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  font-size: 14px;
  font-weight: 600;
}
.footer a {
  color: #1a4d2e;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
