.shipping-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  justify-items: center;
  font-size: larger;
}

.shipping-container h1 {
  color: #2e7d32;
}

.shipping-container p,
.shipping-container li {
  color: #444;
  line-height: 1.7;
}